<div class="modal-header">
    <h5 class="modal-title"> {{ lblModal }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form [formGroup]="personaForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <input type="hidden" formControlName="IdPersonaFisica">

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group row">
                    <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
                    <div class="col-sm-8">
                        <input id="Nombre" type="text" [ngClass]="{'form-control': true, 'is-invalid': personaForm.controls.Nombre.invalid && (submitted || personaForm.controls.Nombre.dirty || personaForm.controls.Nombre.touched)}" formControlName="Nombre" placeholder="Ingrese el Nombre">
                        <div *ngIf="personaForm.controls.Nombre.invalid && (submitted || personaForm.controls.Nombre.dirty || personaForm.controls.Nombre.touched)" class="invalid-feedback">
                            <div *ngIf="personaForm.controls.Nombre.errors.required">
                                Nombre es requerido
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ApellidoPaterno" class="col-sm-4 col-form-label">Ap. Paterno</label>
                    <div class="col-sm-8">
                        <input id="ApellidoPaterno" type="text" [ngClass]="{'form-control': true, 'is-invalid': personaForm.controls.ApellidoPaterno.invalid && (submitted || personaForm.controls.ApellidoPaterno.dirty || personaForm.controls.ApellidoPaterno.touched)}" formControlName="ApellidoPaterno"
                            placeholder="Ingrese el Apellido Paterno">
                        <div *ngIf="personaForm.controls.ApellidoPaterno.invalid && (submitted || personaForm.controls.ApellidoPaterno.dirty || personaForm.controls.ApellidoPaterno.touched)" class="invalid-feedback">
                            <div *ngIf="personaForm.controls.ApellidoPaterno.errors.required">
                                Apellido Paterno es requerido
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ApellidoMaterno" class="col-sm-4 col-form-label">Ap. Materno</label>
                    <div class="col-sm-8">
                        <input id="ApellidoMaterno" type="text" [ngClass]="{'form-control': true, 'is-invalid': personaForm.controls.ApellidoMaterno.invalid && (submitted || personaForm.controls.ApellidoMaterno.dirty || personaForm.controls.ApellidoMaterno.touched)}" formControlName="ApellidoMaterno"
                            placeholder="Ingrese el Apellido Materno">
                        <div *ngIf="personaForm.controls.ApellidoMaterno.invalid && (submitted || personaForm.controls.ApellidoMaterno.dirty || personaForm.controls.ApellidoMaterno.touched)" class="invalid-feedback">
                            <div *ngIf="personaForm.controls.ApellidoMaterno.errors.required">
                                Apellido Materno es requerido
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="RFC" class="col-sm-4 col-form-label">R.F.C.</label>
                    <div class="col-sm-8">
                        <input id="RFC" type="text" [ngClass]="{'form-control': true, 'is-invalid': personaForm.controls.RFC.invalid && (submitted || personaForm.controls.RFC.dirty || personaForm.controls.RFC.touched)}" formControlName="RFC" placeholder="Ingrese el RFC">
                        <div *ngIf="personaForm.controls.RFC.invalid && (submitted || personaForm.controls.RFC.dirty || personaForm.controls.RFC.touched)" class="invalid-feedback">
                            <div *ngIf="personaForm.controls.RFC.errors.required">
                                RFC es requerido
                            </div>
                            <div *ngIf="personaForm.controls.RFC.errors.minlength">
                                RFC debe de tener 13 caracteres
                            </div>
                            <div *ngIf="personaForm.controls.RFC.errors.maxlength">
                                RFC debe de tener 13 caracteres
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>