<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Test Dev OJZR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLink]="['/']" routerLinkActive="router-link-active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['personas']" routerLinkActive="router-link-active">Personas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['customers']" routerLinkActive="router-link-active">Reporte</a>
            </li>
        </ul>
    </div>
</nav>