<div class="container divFormulario">
    <div class="row" style="margin-bottom: 30px;">
        <h4>Personas Físicas</h4>
    </div>

    <table datatable [dtOptions]="dtOptions" class="row-border hover" width="100%">
        <thead>
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Ap. Paterno</th>
                <th class="text-center">Ap. Materno</th>
                <th class="text-center">R.F.C.</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody *ngIf="personas?.length != 0">
            <tr *ngFor="let persona of personas">
                <td class="text-center">{{ persona.Nombre }}</td>
                <td class="text-center">{{ persona.ApellidoPaterno }}</td>
                <td class="text-center">{{ persona.ApellidoMaterno }}</td>
                <td class="text-center">{{ persona.RFC }}</td>
                <td class="text-center">
                    <div class="btn-group btn-group-sm" role="group">
                        <button (click)="editar(persona)" type="button" class="btn btn-outline-primary btn-sm">Editar</button>
                        <button (click)="eliminar(persona)" type="button" class="btn btn-outline-danger btn-sm btn-accion">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="personas?.length == 0">
            <tr>
                <td colspan="7" class="no-data-available">Sin Resultados</td>
            </tr>
            <tbody>
    </table>
</div>

<button id="btnNuevaPersona" [hidden]="true" (click)=" editar(null); "></button>