<div class="row justify-content-center">
    <div class="col-md-4">
        <form (ngSubmit)="login( f )" #f="ngForm" class="form-signin">
            <div class="row text-center">
                <div class="col-md-12">
                    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="Usuario" class="sr-only">Usuario</label>
                    <span *ngIf="f.submitted && f.controls['Username'].errors" class="text-danger animated fadeIn">El usuario es obligatorio</span>
                    <input class="form-control" type="text" name="Username" required [(ngModel)]="usuario.Username" placeholder="Usuario">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span *ngIf="f.submitted && f.controls['Password'].errors" class="text-danger animated fadeIn">La contraseña es obligatoria</span>
                    <label for="Password" class="sr-only">Contraseña</label>
                    <input class="form-control" type="password" required name="Password" [(ngModel)]="usuario.Password" placeholder="Contraseña">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-lg btn-primary" type="submit">Ingresar</button>
                </div>
            </div>
        </form>
    </div>
</div>