/* You can add global styles to this file, and also import other style files */

.sinLabelV {
    margin-top: 35px;
}

.sinLabelH {
    margin-top: 10px;
}

.dataTables_empty {
    display: none !important;
}

.container {
    margin-top: 50px;
}

.no-data-available {
    text-align: center;
}

table {
    width: 100%;
}

h3 {
    margin-bottom: 50px;
}

.btn-accion {
    margin-left: 10px !important;
}

.divFormulario {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.50);
    margin-bottom: 40px;
    padding: 40px;
}