<div class="container divFormulario">
    <div class="row" style="margin-bottom: 30px;">
        <h4>Customers</h4>
    </div>

    <table datatable [dtOptions]="dtOptions" class="row-border hover" width="100%">
        <thead>
            <tr>
                <th class="text-center">Razón Social</th>
                <th class="text-center">R.F.C.</th>
                <th class="text-center">Sucursal</th>
            </tr>
        </thead>
        <tbody *ngIf="customers?.length != 0">
            <tr *ngFor="let customer of customers">
                <td class="text-center">{{ customer.RazonSocial }}</td>
                <td class="text-center">{{ customer.RFC }}</td>
                <td class="text-center">{{ customer.Sucursal }}</td>
            </tr>
        </tbody>
        <tbody *ngIf="customers?.length == 0">
            <tr>
                <td colspan="7" class="no-data-available">Sin Resultados</td>
            </tr>
            <tbody>
    </table>
</div>